.img {
  position: relative;
  width: 100px;
  height: 100px; }

#console {
  flex-direction: column; }
  #console input, #console textarea {
    background-color: black;
    color: white; }

#consoleInput {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center; }

#consoleOutput {
  font-size: small;
  font-family: 'Epilogue', sans-serif; }

#progress {
  width: 100%;
  background-color: #ddd; }

#progress1 {
  width: 100%;
  background-color: #ddd; }

#progress2 {
  width: 100%;
  background-color: #ddd; }

.move-ltr {
  -webkit-animation: moveltr 2s;
  animation: moveltr 2s; }

@keyframes moveltr {
  0% {
    left: 0px;
    top: 0px; }
  50% {
    left: 50px;
    top: 0px; }
  100% {
    left: 0px;
    top: 0px; } }
.swing {
  -webkit-animation: moveswing 1s;
  animation: moveswing 1s; }

@keyframes moveswing {
  0% {
    left: 0px;
    top: 0px; }
  50% {
    left: 0px;
    top: 50px; }
  100% {
    left: 0px;
    top: 0px; } }
.tada {
  -webkit-animation: moveswing 1s;
  animation: moveall 1s; }

@keyframes moveall {
  0% {
    left: 0px;
    top: 0px; }
  25% {
    left: 10px;
    top: 0px; }
  50% {
    left: 10px;
    top: 10px; }
  75% {
    left: 0px;
    top: 10px; }
  100% {
    left: 0px;
    top: 0px; } }
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

/*# sourceMappingURL=style.css.map */
